<!doctype html>
<html lang="en" class="menu-overlay">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">

		<title>Menu</title>

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal-mod-menu.css">
    <link rel="stylesheet" href="css/theme/2001-mod-menu.css" id="theme">
      
    <!-- CUSTOM -->
    <link rel="stylesheet" href="css/styling.css">
    <link rel="stylesheet" href="css/module.css">
    <link rel="stylesheet" href="css/media2.css">
    <link rel="stylesheet" type="text/css" media="only screen and (max-device-width: 480px)" href="css/media2.css" />
    <link rel="stylesheet" media="all" href="css/media2.css">
      
    <!-- PLUGINS -->
    <link rel="stylesheet" href="lib/ven/animateCSS/animate.css">
    <link rel="stylesheet" href="lib/ven/animateCSS/animate.min.css">
    <link rel="stylesheet" href="plugin/title-footer/title-footer.css">
      
      
    <!-- Overlay -->
        <link rel="stylesheet" href="lib/ven/overlay/overlay.css">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">
    
		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
      
      <style>
      .reveal.overview {
          visibility: hidden;
            display: inherit;
          }
          .slides {
            width: 260%;
            height: 260%;
        }
      </style>
      
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        $(function(){
         $('#title-footer').css('','');
        });   
    </script>
      
	</head>

	<body class="menu-overlay animated zoomIn">

		<div class="reveal">
			<div class="slides">

				<section class="headers animated zoomIn" data-background="rgba(0, 0, 255, 0.45)" data-state="nikeACG" style="top: 0;">
            <div class="menu-overlay header">
                
                <h2 class="headers">
                    <img class="menu-overlay icon pHolder logo animated pulse" src="assets/ico/PS-ctrllr-tri-light.png"  alt="placeholder icon logo">Text
                </h2>
                <nav class="menu">
                    <ul class="nav">
                      <li><a class="nav fade-Out" href="">Text</a></li>
                    </ul>
                </nav>
                
            </div><!-- End of menu-overlay header -->
            
            <div class="menu-overlay coreContent">
                
                <h3 class="info">Text</h3>
                <h5 class="info">
                    <ul class="info">
                        <li><a class="info selected fade-In" href="">Text</a></li>
                    </ul>
                </h5>
                
            </div><!-- End of coreContent -->
            
        </section>
          
        <section class="headers animated zoomIn" data-background="rgba(0, 0, 255, 0.45)" data-state="nikeACG no-toc-progress" style="top: 0;">
            <!--rgba(0, 0, 255, 0.5), rgba(30,32,43,0.7), rgba(47, 59, 68, 0.7)-->
            <section class="test header">
                <div class="menu-overlay header">
                    <h2 class="headers">
                        <img class="menu-overlay icon pHolder logo animated pulse" src="assets/ico/PS-ctrllr-tri-light.png"  alt="placeholder icon logo">Test
                    </h2>
                    <nav class="menu">
                        <ul class="nav">
                          <li><a class="nav fade-Out" href="">Text</a></li>
                        </ul>
                    </nav>

                </div><!-- End of menu-overlay header -->
            </section>
            <section class="test bsmt">
                <div class="menu-overlay coreContent">

                    <h3 class="info">Text</h3>
                    <h5 class="info">
                        <ul class="info">
                            <li><a class="info selected fade-In" href="">Text</a></li>
                        </ul>
                    </h5>

                </div><!-- End of coreContent -->

                <div class="menu-overlay foot">

                    <div class="footSection left">

                        <h6 class="data tinyPrint">
                            <span class="copy icon">&copy;</span> <span class="copy date">2016</span> <span class="name connie">Connie Leung</span>
                        </h6>

                    </div>

                    <div class="footSection right">
                        <h6 class="data contact">
                            <ul class="contact">
                                <li>
                                    <a class="data email" href="mailto:info@company.com?subject=Let&#39;s%20Collaborate&body=Hey-Company-I&#39;ve-got-an-idea-...">info@company.com</a>
                                </li>
                                <li>
                                    Auto Updates
                                </li>
                            </ul>

                        </h6>
                    </div>

                </div><!-- End of foot -->
            </section>
        </section>
        
        <section class="headers animated zoomIn" data-background="rgba(0, 0, 255, 0.0)" data-state="mintyFoam no-toc-progress2" style="top: 0; border: 1px solid rgb(52, 39, 96);">
            <div class="menu-overlay header">
                
                <h2 class="headers" style="color: rgba(52, 39, 96, 0.5);">
                    Site-map
                </h2>
        </section>
            
        <section id="projects" class="headers" data-background-color="rgba(220,220,220,0.7)">
            <h2 class="headers">Projects</h2>
            <h3 class="sub-header-title">Sub-Header</h3>
            
            <h6 id="title-footer" class="nav-pg-link animated fadeIn icon svg open">
                <a class="icon svg open" href="http://127.0.0.1:57859/projects.html#/projects" data-preview-link>
                    <img class="icon svg open animated wobble" src="assets/ico/svg/maximize.svg" alt="maximize to learn more" style="opacity: 1;"/>
                    <br>
                    Learn More
                </a>
            </h6>
        </section>
            
          
			</div><!-- End of Slides -->
          
          <h6 id="title-footer2" class="nav-pg-link animated fadeIn icon svg open">
                <a class="icon svg open" href="http://127.0.0.1:57859/projects.html#/projects" data-preview-link>
                    <img class="icon svg open animated wobble" src="assets/ico/svg/maximize.svg" alt="maximize to learn more" style="opacity: 1;"/>
                    <br>
                    Learn More
                </a>
            </h6>
          
          <!-- #Title-Footer -->
          <footer id="title-footer">
            <div class="footSection left">
                    
                    <h6 class="data tinyPrint">
                        <span class="copy icon">&copy;</span> <span class="copy date">2016</span> <span class="name connie">Connie Leung</span>
                    </h6>
                    
                </div>
                
                <div class="footSection right">
                    <h6 class="data contact">
                        <ul class="contact">
                            <li>
                                <a class="data email" href="mailto:info@company.com?subject=Let&#39;s%20Collaborate&body=Hey-Company-I&#39;ve-got-an-idea-...">info@company.com</a>
                            </li>
                            <li>
                                Auto Updates
                            </li>
                        </ul>
                        
                    </h6>
                </div>
          </footer>
        
           <!-- Top Right Corner Hamburger -->
            <aside class="control-menu-overlay" style="display: block;">
                <a onclick="goBack()" href="index.html" data-preview-link>
                    <img src="assets/img/cross.png" />
                </a>
            </aside>

            <!-- history.back() Syntax = button + onclick="goBack()" -->
            <script>
            function goBack() {
                window.history.back();
            }
            </script>
        
    </div><!-- End of Reveal -->
        
    <!-- Optional libraries for code syntax highlighting and classList support in IE9 -->
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>

    <script src="js/bg-iframe.js"></script>

    <!-- Overlay -->
    <script src="lib/ven/overlay/modernizr.overlay.js"></script>
    <script src="lib/ven/overlay/classie.js"></script>
    <script src="lib/ven/overlay/overlay.js"></script>
        
    <!-- Plugins -->
    

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: false,
				progress: true,
				history: false,
				center: false,

				transition: 'zoom', // none/fade/slide/convex/concave/zoom
          
				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: false },
					{ src: 'plugin/notes/notes.js', async: true },
        
          // Title-Footer plugin
				  { src: 'plugin/title-footer/title-footer.js', async: true, callback: function() { title_footer.initialize(); } }
				]
			});

		</script>

	</body>
</html>
