<section data-state="no-title-footer">
				<section>
					<h5 class="section-number"> S01</h5>
					<h1 class="section-title">Colors</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="section-subject">Features</h2>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
					<p class="section-description-content">
						<large>Solid Color / Transitions / Gardients</large>
					</p>
					<h6 class="section-footer border-dash feature"></h6>
					<h4 class="section-footer notes feature">
						<a class="elements" href="#/1/1">Background Color</a>
						<a class="elements" href="#/1/2">Color Transitions</a>
						<a class="elements" href="#/1/3">Gardients 1</a>
						<a class="elements" href="#/1/4">Gardients 2</a>
					</h4>
				</section>

				<section class="S01" data-background="#dddddd">
					<h5 class="section-number"> S01</h5>
					<h1 class="section-title">Background Color</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h3 class="section-description S01 clr">
						<code>&#60; section data-background="#dddddd" &#62;</code>
					</h3>
					<h6 class="section-footer border-dash S01 clr"></h6>
					<h4 class="section-footer notes S01 clr">
						<large>change background color</large>
					</h4>
				</section>

				<section class="S01" data-background="rgba(109,213,215,.9)" data-background-transition="page">
					<h5 class="section-number"> S01</h5>
					<h1 class="section-title">Gardients 01</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h3 class="section-description S01 grdt-1">
						<code class="S01 grdt-1">&#60; section data-background="#4d7e65" &#62;</code>
					</h3>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
					<h5 class="section-description S01 grdt-1" style="line-height: 2.25em;">
						<ul class="S01 grdt-1">
							<li>Frankfurter octoberfest sie leiderhosen</li>
							<li>stein die corkin waltz 
								<ul>
									<li><code>strudel stein dummkopf footzerstompen</code></li>
								</ul>
							</li>
							<li>Waltz keepin auf mitz auf keepin weiner blitz deutsch spitzen</li>
						</ul>
					</h5>
					<h6 class="section-footer border-dash"></h6>
					<h4 class="section-footer notes S01 grdt-1">
						<large>Rubberneckin, oompaloomp yodel haus sie meister cuckoo weiner</large>
					</h4>
				</section>
    </section>
    
    <section class="S02" data-state="no-title-footer">
				<section>
					<h5 class="section-number"> S02</h5>
					<h1 class="section-title">Media ( Images )</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="section-subject">Features</h2>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
					<p class="section-description-content S02 med">
						<large>Images / SVGs / GIFs / Video</large>
					</p>
					<h6 class="section-footer border-dash feature"></h6>
					<h4 class="section-footer notes feature S02 med">
						<a class="elements" href="#/2/1">BG Image</a>
						<a class="elements" href="#/2/2">Tiled BG Image</a>
						<a class="elements" href="#/2/3">SVG</a>
						<a class="elements" href="#/2/4">GIF</a>
						<a class="elements" href="#/2/5">Video</a>
					</h4>
          </section>

				<section class="S02" data-background="assets/ico/svg/smiley-lol.svg" data-background-repeat="repeat" data-background-size="200px" data-background-opacity="0.5">
					<h5 class="section-number"> S02</h5>
					<h1 class="section-title">Tiled Image BG</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h3 class="section-description S02 tile">
						<code class="S02 tile" style="word-wrap: break-word;">
						&#60; section data-background="assets/bg/united/image.png" data-background-repeat="repeat" data-background-size="100px" &#62;
						</code>
					</h3>
					<h6 class="section-footer border-dash"></h6>
					<h4 class="section-footer notes S02 tile">
						<large>full image tile covered background</large>
					</h4>
				</section>

				

				<section class="S02" data-background="assets/gif/united/giphy-space-time-aishwary.gif">
					<div class="navigate-up-chevron-bsmt-top">
						<a href="#/3" class="navigate-up-chevron-bsmt-top"><span class="nav-up-plus-chevron-bsmt-top">&#43;</span></a>
					</div>
					<div>
						<h5 class="section-number"> S02</h5>
						<h1 class="section-title">BG .gif</h1>
						<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
						<h3 class="section-description S02 gif">
							<code class="S02 gif" style="word-wrap: break-word;">
							&#60; section data-background="assets/gif/united/image.gif" &#62;
							</code>
						</h3>
						<h6 class="section-footer border-dash"></h6>
						<h4 class="section-footer notes S02 gif">
							<large>full covered animated .gif as background</large>
						</h4>
					</div>
				</section>

				<!-- assets/vid/paramecium-6.webm -->
				<section class="S02" data-background="assets/gif/united/animated-felix.gif" data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4" data-background-color="rgba(0, 0, 0, 0.85)">
					<h5 class="section-number"> S02</h5>
					<h1 class="section-title">Video BG</h1>
					<h6 class="section-title-div degree S02 vid">&deg; &deg; &deg;</h6>
					<h3 class="section-description S02 vid">
						<code class="S02 vid" style="word-wrap: break-word;">
						&#60; section data-background-video="video.mp4,video.webm" &#62;
						</code>
					</h3>
					<h6 class="section-footer border-dash S02 vid"></h6>
					<h4 class="section-footer notes S02 vid">
						<large>full covered video background</large>
					</h4>
				</section>
			</section>

			<section class="S03" data-state="no-title-footer">
				<section>
					<h5 class="section-number"> S03</h5>
					<h1 class="section-title">Text</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="section-subject">Features</h2>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
					<p class="section-description-content S03 txt">
						<large>Blockquotes / Fragments</large>
					</p>
					<h6 class="section-footer border-dash feature"></h6>
					<h4 class="section-footer notes feature S03 txt">
						<a class="elements" href="#/3/1">Blockquote</a>
						<a class="elements" href="#/3/2">Slideshare</a>
						<a class="elements" href="#/3/3">Fragments</a>
						<!-- a class="elements" href="#/3/4"></a>
						<a class="elements" href="#/3/5"></a -->
					</h4>
				</section>

				<section class="S03" data-background="assets/gif/united/giphy-start-today.gif">
					<h5 class="section-number"> S03</h5>
					<h1 class="section-title">Quoting</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<div class="section-description S03 qt">
						<div class="section-description S03A left S03 qt">
							<h3 class="section-description S03A inline-quote S03 qt">
								<q class="S03 qt" cite="https://mbostock.github.io/d3/talk/20111116">
								&ldquo;If we endeavor to develop a charting instead of a graphing program, we will accomplish two things.&rdquo;</q>
							</h3>
							<h6 class="section-footer border-dash"></h6>
							<h4 class="section-footer notes S03 qt">
								<large>Inline Quote</large>
							</h4>
						</div>
						<div class="section-description S03A right S03 qt">
							<h3 class="section-description S03A blockquote S03 qt">
								<blockquote cite="https://mbostock.github.io/d3/talk/20111116">
								&ldquo;First, we inevitably will offer fewer charts than people want.&rdquo;
								</blockquote>
							</h3>
							<h6 class="section-footer border-dash"></h6>
							<h4 class="section-footer notes S03 qt">
								<large>Blockquote</large>
							</h4>
						</div>
					</div>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
				</section>

				<section class="S03" data-background="assets/gif/united/giphy-aish-wary.gif">
					<h5 class="section-number"> S03</h5>
					<h1 class="section-title">Slideshare</h1>
					<!-- h6 class="section-title-div degree">&deg; &deg; &deg;</h6 -->
					<h3 class="section-description S03 sld">
						<iframe class="S03 sld" src="https://www.slideshare.net/slideshow/embed_code/key/12tUTerA8j6rvQ" width="700" height="305" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe> <!-- style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" div style="margin-bottom:5px"> </div-->
					</h3>
					<h6 class="section-footer border-dash"></h6>
					<h4 class="section-footer notes S03 sld">
						<large>
							<a href="//www.slideshare.net/ConnieLeung6/making-robots-expert-series-3d-modelling-and-printing-for-beginners" title=" Making Robots Expert Series: &quot;3D Modelling and Printing for Beginners&quot;" target="_blank"> 
								Making Robots Expert Series: &quot;3D Modelling and Printing for Beginners&quot;
							</a> from 
							<strong>
								<a href="//www.slideshare.net/ConnieLeung6" target="_blank">Connie Leung</a>
							</strong>
						</large>
					</h4>
				</section>

				<section class="S03" data-notes="presentation notes" data-background="assets/gif/united/giphy-ameliagiller-abstract.gif"><!-- data-markdown="presentation notes" -->
					<h5 class="section-number"> S03</h5>
					<h1 class="section-title">Presentation Notes</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h3 class="section-description S03 nts">
						Press <strong>S</strong>
						<aside class="notes S03 nts">
							Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
						</aside>
					</h3>
					<h6 class="section-footer border-dash"></h6>
					<h4 class="section-footer notes S03 nts">
						<large>use <code>&#60; aside &#62;</code> to add <a href="https://github.com/hakimel/reveal.js#speaker-notes">speaker notes</a></large>
					</h4>
				</section>

				<section class="S03" id="fragments" data-state="no-title-footer">
					<h5 class="section-number"> S02/x</h5>
					<h1 class="fragment section-title">Fragments</h1>
					<h6 class="fragment section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="fragment section-subject S03 fgm">
						<span class="fragment">hit the</span> <span class="fragment">next arrow</span>
					</h2>
					<h6 class="fragment section-title-div border-dash"></h6>
					<h3 class="fragment section-description S03 fgm">Fragment Styles</h3>
					<h4 class="fragment section-footer notes S03 fgm">
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-blue">highlight-blue</p>
					</h4>
				</section>
			</section>
      
      
      
      <section class="S05" data-state="no-title-footer" data-previous-indexv="0" hidden="" aria-hidden="true">
				<section>
					<h5 class="section-number"> S06</h5>
					<h4 class="section-footer notes S05">Plugin</h4>
					<h1 class="section-title">D3.js</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="section-subject">JavaScript framework</h2>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
					<p class="section-description-content">
						<large>Charting data visually in 2D</large>
						<br><br>
						<large>A / B / C / D / E / F</large>
					</p>
					<h6 class="section-footer border-dash feature"></h6>
					<h4 class="section-footer notes feature">
						<a class="elements" href="#/5/1">A</a>
						<a class="elements" href="#/5/2">B</a>
						<a class="elements" href="#/5/3">C</a>
						<a class="elements" href="#/5/4">D</a>
						<a class="elements" href="#/5/5">E</a>
						<a class="elements" href="#/5/6">F</a>
					</h4>
				</section>
			</section>

			<section class="S05" data-state="no-title-footer" data-previous-indexv="0" hidden="" aria-hidden="true">
				<section>
					<h5 class="section-number"> S07</h5>
					<h4 class="section-footer notes S05">Web API Plugin</h4>
					<h1 class="section-title">Camera Detection</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="section-subject">In-Browser Permissions</h2>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
					<p class="section-description-content">
						<h4 class="section-footer notes S05">camera swipe, face detection, motion tracking</h4>
						<br>
						<large>A / B / C / D / E / F</large>
					</p>
					<h6 class="section-footer border-dash feature"></h6>
					<h4 class="section-footer notes feature">
						<a class="elements" href="#/5/1">A</a>
						<a class="elements" href="#/5/2">B</a>
						<a class="elements" href="#/5/3">C</a>
						<a class="elements" href="#/5/4">D</a>
						<a class="elements" href="#/5/5">E</a>
						<a class="elements" href="#/5/6">F</a>
					</h4>
				</section>
			</section>