<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>United!</title>

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <meta name="description" content="Reveal Meetup.com United! TEDx TEDTalks">
    <meta name="author" content="Connie Leung">

    <link rel="stylesheet" type="text/css" href="css/reveal.css" id="theme">

    <!-- CUSTOM STYLING -->

    <link rel="stylesheet" type="text/css" href="css/playground-sections.css">
    <link rel="stylesheet" type="text/css" href="css/playground.css">
    <link rel="stylesheet" type="text/css" href="css/united.css">
    <link rel="stylesheet" type="text/css" href="css/styling.css">

    <!-- SVG -->
    <link rel="stylesheet" type="text/css" href="plugin/svg/html-css-goods-svg.css">

    <!-- PLUG-INS -->

    <link rel="stylesheet" type="text/css" href="lib/ven/animateCSS/animate.css">
    <link rel="stylesheet" type="text/css" href="lib/ven/animateCSS/animate.min.css">
    <!-- HIGHLIGHT -->
    <!-- Code syntax highlighting -->
    <link rel="stylesheet" type="text/css" href="lib/css/zenburn.css">

    <!-- Title-Footer -->
    <!--<link rel="stylesheet" type="text/css" href="plugin/title-footer/title-footer.css">-->

    <!-- Menu.js -->
    <!--link rel="stylesheet" type="text/css" href="plugin/menu/menu.css">

			<!-- PDF -->
    <!-- If the query includes 'print-pdf', include the PDF print sheet -->
    <link rel="stylesheet" type="text/css" href="css/print/paper.css">
    <script>
        if (window.location.search.match(/print-pdf/gi)) {
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = 'css/print/pdf.css';
            document.getElementsByTagName('head')[0].appendChild(link);
        }
    </script>

    <!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

    <!-- End of PLUG-INS -->
</head>

<body>

    <div class="reveal">

        <div class="slides">

            <section data-state="no-toc-progress">

                <section class="intro">
                    <!--<h5 class="section-number"> S01</h5>-->
                    <h1 class="no-toc-progress section-workshop-title">
						<blockquote class="workshop topic">
							Reveal.js
						</blockquote>
					</h1>
                    <h2 class="no-toc-progress section-workshop-name">Create TED<span class="x">x</span> Quality Presentations using</h2>

                    <h6 class="section-title-div degree-affiliation">&deg; &deg; &deg;</h6>

                    <h4 class="intro">
            <span class="partnership">Special thanks to</span>
          </h4>
                    <h4 class="partnership">
              <ul class="partnership">
                <li> 
                    <img src="http://image005.flaticon.com/28/png/512/34/34459.png" alt="meetup icon" class="icon meetup" />
                </li>
                <li>
                    <img src="http://www.clipartbest.com/cliparts/dT8/xnA/dT8xnAqAc.png" class="icon redx" />
                </li>
                <li>
                    <img src="https://goo.gl/weuhgR" alt="LabTO icon" class="icon labto" />
                </li>
                <li>
                    <img src="http://www.clipartbest.com/cliparts/dT8/xnA/dT8xnAqAc.png" class="icon redx" />
                </li>
                <li><span class="unite">Unite!</span></li>
            </ul>
          </h4>
                </section>

            </section>

            <section class="about" id="about" data-background-image="assets/img/about-hardware.jpg" data-state="no-toc-progress">
                <h5 class="section-number"> About</h5>
                <h1 class="section-title author">Connie Leung</h1>
                <h6 class="fragment section-title-div degree">&deg; &deg; &deg;</h6>
                <h2 class="fragment section-job">
						<span class="fragment">Front-End/UX Developer</span>
					</h2>
                <h2 class="fragment section-job">
						<span class="fragment">IoT Hardware Hacker</span>
					</h2>
                <h6 class="section-title-div border-dash"></h6>
                <h3 class="section-social S03 fgm">@ / # HalloConnie</h3>
                <!-- h6 class="section-title-div bullet-date">&#8230;</h6>
					<h5 class="section-date"> 14 / 04 / 2016 </h5 -->
            </section>
            </section>

            <!-- section data-transition="page" data-background="rgba(109,213,215,.9)" data-background-transition="zoom">
            </section -->

            <section class="S01" data-transition="fade" data-background="rgba(109,213,215,.9)">
                <h5 class="section-number"> S01</h5>
                <h4 class="section-footer notes S05">Creator</h4>
                <img src="https://avatars3.githubusercontent.com/u/629429?v=3&s=400" alt="hakimel avartar" class="img hakimel" />
                <h1 class="section-title hakimel">Hakim El Hattab</h1>
                <h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
                <p class="section-description-content">
                    <large>Stockholm, Sweden</large>
                </p>
            </section>

            <!-- section data-transition="page" data-background="rgba(109,213,215,.9)" data-background-transition="zoom" -->
            </section>

            <section class="S02" data-background="rgba(109,213,215,.7)" data-background-transition="fade">
                <h5 class="section-number"> S02</h5>
                <h4 class="section-footer notes S05"></h4>
                <blockquote class="davidx">
                    <span class="">"</span>
                    <span class="fragment">With the</span>
                    <span class="fragment">amount of time,</span>
                    <span class="fragment">you know</span>
                    <span class="fragment">you can only</span>
                    <span class="fragment">make so many points,</span>
                    <span class="fragment">so you're</span>
                    <span class="fragment">forced to</span>
                    <span class="fragment quote">make them</span>
                    <span class="fragment">count</span>
                    <span class="fragment">."</span>
                </blockquote>
                <h4 class="section-footer notes quote david">
				    <large class="fragment">David Epstein</large>
              <br>
            <large class="fragment">TED Talk / </large>
            <large class="fragment">1.7 million views</large>
				  </h4>

                <aside class="notes">
                    <ul>
                        <li>we've all tried to articulate our point across</li>
                        <li>(somehow we failed to deliever an idea)</li>
                        <li>and we ask ourselves, am I delievering this concept effectively?</li>
                    </ul>
                </aside>

            </section>

            <section class="S03 demo deck">
                <section class="S03" data-background-iframe="assets/vid/googleIO16.mp4">
                    <!--data-background-iframe="http://www.youtube.com/apiplayer?video_id=7V-fIGMDsmE&version=3&autoplay=1&enablejsapi=1&start=863&end=868&controls=1&loop=0"-->
                    <div class="demo deck ideal">
                        <h5 class="section-number"> S03</h5>
                        <h4 class="section-footer notes demo deck ideal">Example</h4>
                        <h1 class="section-title demo deck ideal">Google I/O 2016</h1>
                        <h2 class="section-subject demo deck ideal">Ideal Attempt</h2>
                    </div>
                    <aside class="notes">
                        <ul>
                            <li>Is this what we try to attempt?</li>
                            <li>Aud Love this = AX and UX</li>
                            <li>Epitone of the best kind of AX</li>
                        </ul>
                    </aside>
                </section>

                <section class="S03 bsmt" data-background-iframe="assets/vid/livecoding.mp4">
                    <!--data-background-iframe="http://www.youtube.com/apiplayer?video_id=FdW0WbvmS3k&version=3&autoplay=1&enablejsapi=1&start=90&end=105&controls=1&loop=0"-->
                    <div class="demo deck irl">
                        <h5 class="section-number"> S03/B1</h5>
                        <h4 class="section-footer notes demo deck irl">Example</h4>
                        <h1 class="section-title demo deck irl">In Real Life</h1>
                        <h2 class="section-subject demo deck irl">Ideal Attempt</h2>
                    </div>
                    <aside class="notes">
                        <ul>
                            <li>Devs show this 70% of the time</li>
                            <li>attempt of AX so they can leave knowing how to use the idea shared</li>
                        </ul>
                    </aside>
                </section>

                <section class="S03 bsmt" data-background-image="assets/img/about-fitc.jpg">
                    <!--data-background-iframe="http://www.youtube.com/apiplayer?video_id=FdW0WbvmS3k&version=3&autoplay=1&enablejsapi=1&start=90&end=105&controls=1&loop=0"-->
                    <div class="intro-end animated fadeIn">
                        <h1 class="section-title animated pulse intro-end">Reveal.js</h1>
                    </div>

                    <aside class="notes">
                        <ul>
                            <li>How do we implement visuals, text, product and code</li>
                            <li>without being a boring your aud?</li>
                            <li>Use reveal as a tool to build case studies</li>
                            <li>hit down button to show fragment</li>
                            <li>Going to walk you through</li>
                            <li>BY RETHINKING DELIEVERY MODES</li>
                            <li>there are HINDERANCES, BUT </li>
                            <li>HOW THIS could be the F/W TO Go to </li>
                            <li>Are you ready? Let's start</li>
                            <li>Basic setup for those new to programming to higher skill levels</li>
                            <li>scalability, accessibility</li>
                            <li>Makes it amazing. browser platform vs OS</li>
                        </ul>
                    </aside>
                </section>
            </section>
        
            <section class="S04" data-background-image="assets/bg/united/6839204-gradient-background.jpg" data-background-transition="fade">
                <h5 class="section-number"> S04</h5>
                <h4 class="section-footer notes">Research</h4>
                <blockquote class="data">
                    <span class="fragment">It begins with a</span>
                    <span class="fragment">story.</span>
                    <br><br>
                    <span class="fragment">The best way</span>
                    <span class="fragment">to tell a story is to</span>
                    <span class="fragment">show the data,</span>
                    <span class="fragment">facts,</span>
                    <span class="fragment">and to draw your</span>
                    <span class="fragment quote">observations</span>
                    <span class="fragment">conclusively.</span>
                </blockquote>
                <aside class="notes">
                    <ul>
                        <li>we've all tried to articulate our point across</li>
                        <li>(somehow we failed to deliever an idea)</li>
                        <li>and we ask ourselves, am I delievering this concept effectively?</li>
                    </ul>
                </aside>
            </section>

            <section class="S05" data-state="no-title-footer" data-previous-indexv="0" hidden="" aria-hidden="true">
                <section class="">
                    <h5 class="section-number"> S05</h5>
                    <h4 class="section-footer notes">Data Visualisation</h4>
                    <h1 class="section-title">Comparative Analysis</h1>
                    <h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
                </section>

                <section class="S05" aria-hidden="true">
                    <h5 class="section-number" style="margin-top: -1.5em;"> S05</h5>
                    <h4 class="section-footer notes S05" style="padding-top: 0.25em;">Chart . js</h4>
                    <h1 class="section-title" style="padding: 1.5% 0;">Line</h1>
                    <h4 class="section-footer notes S05 bar">
                    <large>
                      class="S06.line" | id="chart-frame-1" | selector : "#chart-frame-1" | type : "line"
                    </large>
                  </h4>
                    <h6 class="section-footer border-dash" style="height: 1.5em;"></h6>
                    <iframe id="chart-frame-1" data-chart class="S05 line" scrolling="no" src="" srcdoc="" style="overflow: hidden; height: 25em; width: 80%; margin-top: 1.5em;">
                    </iframe>
                </section>

                <section class="S05" aria-hidden="true">
                    <h5 class="section-number" style="margin-top: -1.5em;"> S05</h5>
                    <h4 class="section-footer notes S05" style="padding-top: 0.25em;">Chart . js</h4>
                    <h1 class="section-title" style="padding: 1.5% 0;">Bar</h1>
                    <h4 class="section-footer notes S05 bar">
						<large>
							class="S06.bar" | id="chart-frame-2" | selector : "#chart-frame-2" | type : "bar"
						</large>
					</h4>
                    <h6 class="section-footer border-dash" style="height: 1.5em;"></h6>
                    <iframe id="chart-frame-2" data-chart class="S05 bar" scrolling="no" src="" srcdoc="" style="overflow: hidden; height: 25em; width: 80%; margin-top: 1.5em;">
                    </iframe>
                    <div class="navigate-down-chevron S05 bar" style="margin-top: 1em; padding: 0; padding-top: 0;">
                        <a href="#" class="navigate-down-chevron S05 bar">
                            <span class="nav-down-plus-chevron S05 bar">&#43;</span>
                        </a>
                    </div>
                </section>

                <section class="S05" aria-hidden="true">
                    <h5 class="section-number" style="margin-top: -1.5em;"> S05</h5>
                    <h4 class="section-footer notes S05" style="padding-top: 0.25em;">Chart . js</h4>
                    <h1 class="section-title" style="padding: 1.5% 0;">Radar</h1>
                    <h4 class="section-footer notes S05 radar">
						<large>
							class="S06.radar" | id="chart-frame-3" | selector : "#chart-frame-3" | type : "radar"
						</large>
					</h4>
                    <h6 class="section-footer border-dash" style="height: 1.5em;"></h6>
                    <iframe id="chart-frame-3" data-chart class="S05 radar" scrolling="no" src="" srcdoc="" style="overflow: hidden; height: 25em; width: 80%; margin-top: 1.5em;">
                    </iframe>
                </section>

                <section class="S05" aria-hidden="true">
                    <h5 class="section-number" style="margin-top: -1.5em;"> S05</h5>
                    <h4 class="section-footer notes S05" style="padding-top: 0.25em;">Chart . js</h4>
                    <h1 class="section-title" style="padding: 1.5% 0;">Polar Area</h1>
                    <h4 class="section-footer notes S05 polar">
						<large>
							class="S06.polar" | id="chart-frame-4" | selector : "#chart-frame-4" | type : "polar"
						</large>
					</h4>
                    <h6 class="section-footer border-dash" style="height: 1.5em;"></h6>
                    <iframe id="chart-frame-4" data-chart class="S05 polar" scrolling="no" src="" srcdoc="" style="overflow: hidden; height: 25em; width: 80%; margin-top: 1.5em;">
                    </iframe>
                </section>

                <section class="S05" aria-hidden="true">
                    <h5 class="section-number" style="margin-top: -1.5em;"> S05</h5>
                    <h4 class="section-footer notes S05" style="padding-top: 0.25em;">Chart . js</h4>
                    <h1 class="section-title" style="padding: 1.5% 0;">Pie</h1>
                    <h4 class="section-footer notes S05 pie">
						<large>
							class="S06.pie" | id="chart-frame-5" | selector : "#chart-frame-5" | type : "pie"
						</large>
					</h4>
                    <h6 class="section-footer border-dash" style="height: 1.5em;"></h6>
                    <iframe id="chart-frame-5" data-chart class="S05 pie" scrolling="no" src="" srcdoc="" style="overflow: hidden; height: 25em; width: 80%; margin-top: 1.5em;">
                    </iframe>
                </section>

                <section class="S05" aria-hidden="true">
                    <h5 class="section-number" style="margin-top: -1.5em;"> S05</h5>
                    <h4 class="section-footer notes S05" style="padding-top: 0.25em;">Chart . js</h4>
                    <h1 class="section-title" style="padding: 1.5% 0;">Doughnut</h1>
                    <h4 class="section-footer notes S05 dnut">
						<large>
							class="S06.dnut" | id="chart-frame-6" | selector : "#chart-frame-6" | type : "doughnut"
						</large>
					</h4>
                    <h6 class="section-footer border-dash" style="height: 1.5em;"></h6>
                    <iframe id="chart-frame-6" data-chart class="S05 dnut" scrolling="no" src="" srcdoc="" style="overflow: hidden; height: 25em; width: 80%; margin-top: 1.5em;">
                    </iframe>
                </section>

            </section>

            <!-- section class="S04" data-state="no-title-footer">
				<section>
					<h5 class="section-number"> S04</h5>
					<h1 class="section-title">Layouts</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="section-subject">Features</h2>
					<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
					<p class="section-description-content S04 lay">
						<large>Footer / Tables / Lists / Keyboard Shortcuts / Global State + Events </large>
					</p>
					<h6 class="section-footer border-dash feature"></h6>
					<h4 class="section-footer notes feature S04 lay">
						<a class="elements" href="#/4/1">Footer</a>
						<a class="elements" href="#/4/2">Table</a>
						<a class="elements" href="#/4/3">Lists</a>
						<a class="elements" href="#/4/4">Shortcuts</a>
						<a class="elements" href="#/4/5">Global State</a>
					</h4>
				</section>

				 <section class="S04" data-background="assets/gif/united/giphy-ameliagiller-abstract.gif">
					<h5 class="section-number S04 foot"> S04</h5>
					<h1 class="section-title S04 foot">Footer</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h3 class="section-description S04 foot">
						For <strong>All</strong> slides, add &#60; section <code>data-state="no-toc-progress"</code> &#62;
						<br><br>
						&#60; section <code>data-state="no-title-footer"</code> &#62; for hiding one <strong>individual</strong> slide
					</h3>
					<h6 class="section-footer border-dash"></h6>
					<h4 class="section-footer notes S04 foot">
						<large>A "<strong><code>global data-state</code></strong>" attribute for reveal footer plugin</large>
					</h4>
				</section>

				<section class="S04" data-background="assets/gif/united/giphy-ameliagiller-downstairs.gif">
					<h5 class="section-number"> S04</h5>
					<h1 class="section-title">Tables + Lists</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h3 class="section-description S04 tb">
						<table class="S04 tb">
							<thead class="S04 tb">
								<tr class="S04 tb">
									<th class="S04 tb">Unordered</th>
									<th class="S04 tb">Ordered</th>
								</tr>
							</thead>
							<tbody class="S04 tb">
								<tr class="S04 tb">
									<td class="S04 tb">
										<ul class="S04 tb">
											<li>eins</li>
											<li>zwei</li>
											<li>drei</li>
											<li>veri</li>
										</ul>
									</td>
									<td class="S04 tb">
										<ol class="S04 tb">
											<li>eins</li>
											<li>zwei</li>
											<li>drei</li>
											<li>veri</li>
										</ol>
									</td>
								</tr>
							</tbody>
						</table>
					</h3>
				</section>

				<section class="S04" data-background="assets/gif/united/giphy-ameliagiller-downstairs.gif">
					<h5 class="section-number"> S04</h5>
					<h1 class="section-title">Keyboard Shortcuts</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h3 class="section-description S04 kybrd">
						<table class="S04 kybrd">
							<thead class="S04 kybrd">
								<tr class="S04 kybrd">
									<th class="S04 kybrd">&#35;</th>
									<th class="S04 kybrd n">Name</th>
									<th class="S04 kybrd">Key</th>
									<th class="S04 kybrd f">Function</th>
								</tr>
							</thead>
							<tbody class="S04 kybrd">
								<tr class="S04 kybrd">
									<td class="S04 kybrd">1</td>
									<td class="S04 kybrd n">Overview</td>
									<td class="S04 kybrd"><strong>ESC</strong></td>
									<td class="S04 kybrd f">zoom &plusmn; / overview layout</td>
								</tr>
								<tr class="S04 kybrd">
									<td class="S04 kybrd">2</td>
									<td class="S04 kybrd n"><a href="https://github.com/hakimel/reveal.js#speaker-notes">Notes</a></td>
									<td class="S04 kybrd"><strong>S</strong></td>
									<td class="S04 kybrd f">speaker / presentation notes + timer + nav</td>
								</tr>
								<tr class="S04 kybrd">
									<td class="S04 kybrd">3</td>
									<td class="S04 kybrd n">Pause</td>
									<td class="S04 kybrd"><strong>B</strong></td>
									<td class="S04 kybrd f">pause presentation timer / slides turns off</td>
								</tr>
							</tbody>
						</table>
					</h3>
					<h6 class="section-footer border-dash"></h6>
					<h4 class="section-footer notes S04 kybrd">
						<large>full covered animated .gif as background</large>
					</h4>
				</section>

				<section class="S04" data-background="assets/gif/united/animated-flat-book.gif" data-background="rgba(255,255,255,0.5)">
					<h5 class="section-number"> S04</h5>
					<h1 class="section-title S04 ds">Global State + Custom Events</h1>
					<h6 class="section-title-div degree">&deg; &deg; &deg;</h6>
					<h2 class="section-subject S04 ds">
						&#60; section data-state="something" &#62; &#43; Reveal.addEventListener({});
					</h2>
					<p class="section-description-content S04 ds">
						<ul class="S04 ds">
							<li class="S04 ds">Applicable per slide or a series of slides</li>
							<li class="S04 ds">
								Assign <code style="word-wrap: break-word;">"something"</code> = turns into a class
								<ul>
									<li>e.g. switching background page</li>
								</ul>
							</li>
							<li class="S04 ds">
								Custom data-state events can be made by adding this JS structure:	
							</li>
						</ul>
						<h6 class="section-title-div bullet">&#8226; &#8226; &#8226;</h6>
						<h3 class="section-description S04 ds">
							<code class="S04 ds" data-trim contenteditable>
								Reveal.addEventListener ( 'customevent', 
									function () {
										console.log ( '"customevent" has fired' );
									} 
								);
								</code>
						</h3>
					</p>
					<h6 class="section-footer border-dash"></h6>
					<h4 class="section-footer notes S04 ds"></h4>
				</section>
			</section -->






        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="lib/js/head.min.js"></script>
    <script type="text/javascript" src="js/reveal.js"></script>

    <script>
        /* -- CHART.JS --------------------------------------------------------------------- */
        var items = [{
                selector: "#chart-frame-1", // iframe id
                type: "line", // type can be pie/doughtnut/line/bar/radar/polararea
                data: { // data []
                    labels: ["January", "February", "March", "April", "May", "June", "July"]
                    , datasets: [{ // background
                            label: "My First dataset"
                            , fillColor: "rgba(220,220,220,0.2)"
                            , strokeColor: "rgba(220,220,220,1)"
                            , pointColor: "rgba(220,220,220,1)"
                            , pointStrokeColor: "#fff"
                            , pointHighlightFill: "#fff"
                            , pointHighlightStroke: "rgba(220,220,220,1)"
                            , data: [65, 59, 80, 81, 56, 55, 40]
		            }, { // foreground
                            label: "My Second dataset"
                            , fillColor: "rgba(151,187,205,0.2)"
                            , strokeColor: "rgba(151,187,205,1)"
                            , pointColor: "rgba(151,187,205,1)"
                            , pointStrokeColor: "#fff"
                            , pointHighlightFill: "#fff"
                            , pointHighlightStroke: "rgba(151,187,205,1)"
                            , data: [28, 48, 40, 19, 86, 27, 90]
		            }] // end of datasets
                }, // end of data
                options: {
                    responsive: true
                }
                /* ,
		        canvas: {
		        	width: "300", // default : 250px - width of iframe -> canvas element
		        	height: "100" // default : 150px - height of iframe -> canvas element
		        } */
		    }, // End of LINE #chart-frame-1
            {
                selector: "#chart-frame-2"
                , type: "bar"
                , data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July"]
                    , datasets: [{
                        label: "My First dataset"
                        , fillColor: "rgba(220,220,220,0.5)"
                        , strokeColor: "rgba(220,220,220,0.8)"
                        , highlightFill: "rgba(220,220,220,0.75)"
                        , highlightStroke: "rgba(220,220,220,1)"
                        , data: [65, 59, 80, 81, 56, 55, 40]
		            }, {
                        label: "My Second dataset"
                        , fillColor: "rgba(151,187,205,0.5)"
                        , strokeColor: "rgba(151,187,205,0.8)"
                        , highlightFill: "rgba(151,187,205,0.75)"
                        , highlightStroke: "rgba(151,187,205,1)"
                        , data: [28, 48, 40, 19, 86, 27, 90]
		            }]
                }
                , options: {
                    responsive: true
                }
		    }
            , {
                selector: "#chart-frame-3"
                , type: "radar"
                , data: {
                    labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"]
                    , datasets: [{
                        label: "My First dataset"
                        , fillColor: "rgba(220,220,220,0.2)"
                        , strokeColor: "rgba(220,220,220,1)"
                        , pointColor: "rgba(220,220,220,1)"
                        , pointStrokeColor: "#fff"
                        , pointHighlightFill: "#fff"
                        , pointHighlightStroke: "rgba(220,220,220,1)"
                        , data: [65, 59, 90, 81, 56, 55, 40]
		            }, {
                        label: "My Second dataset"
                        , fillColor: "rgba(151,187,205,0.2)"
                        , strokeColor: "rgba(151,187,205,1)"
                        , pointColor: "rgba(151,187,205,1)"
                        , pointStrokeColor: "#fff"
                        , pointHighlightFill: "#fff"
                        , pointHighlightStroke: "rgba(151,187,205,1)"
                        , data: [28, 48, 40, 19, 96, 27, 100]
		            }]
                }
                , options: {
                    responsive: true
                    , pointLabelFontSize: 15
                }
		    }
            , {
                selector: "#chart-frame-4"
                , type: "polararea"
                , data: [{
                    value: 300
                    , color: "#F7464A"
                    , highlight: "#FF5A5E"
                    , label: "Red"
		        }, {
                    value: 50
                    , color: "#46BFBD"
                    , highlight: "#5AD3D1"
                    , label: "Green"
		        }, {
                    value: 100
                    , color: "#FDB45C"
                    , highlight: "#FFC870"
                    , label: "Yellow"
		        }, {
                    value: 40
                    , color: "#949FB1"
                    , highlight: "#A8B3C5"
                    , label: "Grey"
		        }, {
                    value: 120
                    , color: "#4D5360"
                    , highlight: "#616774"
                    , label: "Dark Grey"
		        }]
                , options: {
                    responsive: true
                }
		    }, {
                selector: "#chart-frame-5"
                , type: "pie"
                , data: [{
                    value: 300
                    , color: "#F7464A"
                    , highlight: "#FF5A5E"
                    , label: "Red"
		        }, {
                    value: 50
                    , color: "#46BFBD"
                    , highlight: "#5AD3D1"
                    , label: "Green"
		        }, {
                    value: 100
                    , color: "#FDB45C"
                    , highlight: "#FFC870"
                    , label: "Yellow"
		        }]
                , options: {
                    responsive: true
                }
		    }, {
                selector: "#chart-frame-6"
                , type: "doughnut"
                , data: [{
                    value: 300
                    , color: "#F7464A"
                    , highlight: "#FF5A5E"
                    , label: "Red"
		        }, {
                    value: 50
                    , color: "#46BFBD"
                    , highlight: "#5AD3D1"
                    , label: "Green"
		        }, {
                    value: 100
                    , color: "#FDB45C"
                    , highlight: "#FFC870"
                    , label: "Yellow"
		        }]
                , options: {
                    responsive: true
                }
			}
            , {
                selector: "#chart-csv"
                , type: "pie"
                , url: '/data/monthly_temps.csv'
		    }

		]; // items Chart.js object item array + var items


        // Full list of configuration options available here:
        // https://github.com/hakimel/reveal.js#configuration
        Reveal.initialize({
            controls: true
            , progress: true
            , history: true
            , center: true
            , mouseWheel: true,

            theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
            transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

            // Chart.js
            // chart: { items: items },
            chart: {
                items: items
            }
            , // chart : { items : { src: 'js/playground.js', async: true } },
            // chart : { items : [ { selector, type, data { labels[], datasets[{}] }, options {} } ] },
            // chart: { src: 'js/playground.js', async: true, callback: function(item) { chart.initialize(); } },


            // Parallax scrolling
            // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
            // parallaxBackgroundSize: '2100px 900px',

            // Optional libraries used to extend on reveal.js
            dependencies: [
                    {
                        src: 'lib/js/classList.js'
                        , condition: function () {
                            return !document.body.classList;
                        }
                    }
                    , {
                        src: 'plugin/markdown/marked.js'
                        , condition: function () {
                            return !!document.querySelector('[data-markdown]');
                        }
                    }
                    , {
                        src: 'plugin/markdown/markdown.js'
                        , condition: function () {
                            return !!document.querySelector('[data-markdown]');
                        }
                    }
                    , {
                        src: 'plugin/highlight/highlight.js'
                        , async: true
                        , callback: function () {
                            hljs.initHighlightingOnLoad();
                        }
                    }
                    , {
                        src: 'plugin/zoom-js/zoom.js'
                        , async: true
                        , condition: function () {
                            return !!document.body.classList;
                        }
                    },

        // Camera Swipe
                    {
                        src: 'plugin/wave/webcam-swiper-0.1.js'
                    }
                    , {
                        src: 'plugin/wave/client.js'
                    },

				// Speaker Notes
                    {
                        src: 'plugin/notes/notes.js'
                        , async: true
                    }, 
        
                //{ src: 'plugin/external/external.js', async: true },

        //

				// Title-Footer plugin
				//{ src: 'plugin/title-footer/title-footer.js', async: true, callback: function() {
          //  		title_footer.initialize();
        		//} },

				// Chart.js
                    {
                        src: 'plugin/chartjs/charted.js'
                    }
                    , {
                        src: 'plugin/chartjs/Chart.min.js'
                    }
                    , {
                        src: 'js/playground.js'
                        , async: true
                    } //,

			    // Menu.js > slide out menu
			    //{ src: 'plugin/menu/menu.js' }

			] //End of Dependencies
        }); // End of Reveal.initialize


        // call the youtube API
        // See: https://goo.gl/pj79fp -and- https://goo.gl/jUcrNW (API)
        var tag = document.createElement('script');
        tag.src = "//www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;
        var player2;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('ytplayer', {
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
            player2 = new YT.Player('vid_KDDN40hHXCQ', {
                events: {
                    'onStateChange': onPlayerStateChange
                }
            });
            console.log("videos registered");
        }

        function onPlayerStateChange(event) {
            alert("event fired!");
            if (event.data == YT.PlayerState.ENDED) {
                console.log("Video Ended");
                Reveal.next();
            }
        }
    </script>

    <!-- CUSTOM JS -->
    <script type="text/javascript" scr="js/playground.js"></script>

    <!-- PLUGIN -->
    <!-- CHART -->
    <script type="text/javascript" src="plugin/chartjs/Chart.min.js"></script>
    <script type="text/javascript" src="plugin/chartjs/charted.js"></script>

</body>

</html>